.form.row
  .col-md-6
    = form_for @recipe do |f|
      .form-group
        = f.label :name,  'Title'
        = f.text_field :name, class: 'form-control'
        
      .form-group 
        = f.label :description
        = f.text_area :description, class: 'form-control'

      .form-group
        %strong Ingredients:
        %br/
        = f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name do |ii|
          = ii.label(class: 'checkbox-inline') {ii.check_box(class: 'checkbox') + ii.text}

      .form-group
        = f.label :image
        = f.file_field :image

      .actions
        = f.submit(@recipe.new_record? ? 'Create' : 'Update', class: 'btn btn-success')