.recipes-index.container
  %h1.text-center All recipes

  .recipes-list
    .text-center
      = link_to 'New recipe', new_recipe_path, class: 'btn btn-primary'

    - @recipes.each do |recipe|
      - cache recipe do
        .recipe.col-md-12
          .chef-avatar.col-md-2
            .avatar
              = image_tag recipe.chef.avatar.url(:thumb)
            = link_to recipe.chef.name, chef_path(recipe.chef.id)

          .info.col-md-10
            %h2= link_to recipe.name, recipe_path(recipe.id)
            %p= recipe.summary
            %span= recipe.posted_by

            %div
              = link_to 'Show', recipe_path(recipe.id), class: 'btn btn-info'
              
              - if current_user
                = recipe.check_edit_action(current_user.id)
                = recipe.check_destroy_action(current_user.id)