.recipe-show.col-md-12
  %h1.title.text-center= @recipe.name

  .col-md-9.recipe
    .col-md-4.image
      = image_tag @recipe.image.url(:large)

    .col-md-8
      %p.desc
        = simple_format(@recipe.description)

      = render 'styles', recipe: @recipe
      = render 'ingredients', recipe: @recipe

      .posted-by
        = @recipe.posted_by

      .actions
        - if current_user
          .edit
            = @recipe.check_edit_action(current_user)
            = @recipe.check_destroy_action(current_user)

          = link_to 'Add review', new_recipe_review_path(recipe_id: @recipe.id), class: 'btn btn-primary'

        .votes
          .like
            = link_to recipe_like_path(recipe_id: @recipe.id), id: 'like', method: :post do
              = fa_icon 'thumbs-o-up 2x'
            .like-count= @recipe.likes_count

          .dislike
            = link_to recipe_dislike_path(recipe_id: @recipe.id), id: 'dislike', method: :post do
              = fa_icon 'thumbs-o-down 2x'
            .dislike-count= @recipe.dislikes_count

  .col-md-2.chef
    %h2.text-center Author:
    %div.avatar
      = image_tag @recipe.chef.avatar.url(:medium), class: 'center'

      .text-center
        = link_to @recipe.chef.name, chef_path(@recipe.chef.id)