.recipe-show.col-md-12
  %h1.title.text-center= @recipe.name

  .col-md-9.recipe
    .col-md-4.image
      = image_tag @recipe.image.url(:large)

    .col-md-8
      %p.desc
        = simple_format(@recipe.description)

      .posted-by
        = @recipe.posted_by

  .col-md-2.chef
    %h2.text-center Author:
    %div.avatar
      = image_tag @recipe.chef.avatar.url(:medium), class: 'center'

      .text-center
        = link_to @recipe.chef.name, chef_path(@recipe.chef.id)