.recipe-show.col-md-12
  %h1.text-center= @recipe.name

  .col-md-9
    .col-md-4.avatar
      = image_tag @recipe.image.url(:large)

    .col-md-8
      %p.desc
        = @recipe.description

      .posted-by
        = @recipe.posted_by

  .col-md-2
    %h2.text-center Author:
    %div
      = image_tag @recipe.chef.avatar.url(:medium), class: 'center'

      .text-center
        = link_to @recipe.chef.name, chef_path(@recipe.chef.id)