.home
  .jumbotron
    %h1.text-center Hello
    %p.text-center
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

    .sign-up-link.text-center
      = link_to 'Sign Up', new_user_registration_path, class: 'btn btn-success'

  .blocks
    .col-md-4
      %h2.text-center Last added recipes

      .recipes.text-center
        - @recipes.each do |recipe|
          - cache recipe do
            .text-center
              %h5= link_to recipe.name, recipe_path(recipe.id)

      .browse.text-center
        = link_to 'Browse all recipes', recipes_path, class: 'btn btn-info text-center'

    .col-md-4
      %h2.text-center Last registered chefs

      .chefs-text-center
        - @chefs.each do |chef|
          - cache chef do
            .text-center
              %h5= link_to chef.name, chef_path(chef.id)

      .browse.text-center
        = link_to 'Browse all chefs', chefs_path, class: 'btn btn-info text-center'

    .col-md-4
      %h2.text-center Last added reviews

      .reviews-text-center
        - @reviews.each do |review|
          - cache review do
            .text-center
              %h5= link_to review.recipe.name, recipes_path(review.recipe.id)

      .browse.text-center
        = link_to 'Browse all reviews', recipes_path, class: 'btn btn-info text-center'