.container
  .ingredients-images-index
    %h1.text-center= "Google images for #{@ingredient.name}"

    .row
      = form_tag ingredient_image_path(@ingredient.slug, 1), method: :put do
        = file_field_tag 'image'
        = submit_tag 'Upload', class: 'btn btn-primary'

      - @images.each do |image|
        .col-md-4
          = form_tag ingredient_image_path(@ingredient.slug, 1), method: :put do
            = hidden_field_tag 'image_url', image
            = image_submit_tag image, class: 'adaptive-image'
          //= link_to image_tag(image), ingredient_image_path(ingredient_id: @ingredient.slug, id: image), method: :put