.review.col-md-12
  .col-md-2
    = image_tag review.chef.avatar.url(:thumb)
    
  .col-md-10
    %p= review.text
    %p= review.posted_by

    - if current_user
      .actions
        = review.check_permissions_for_edit_action(current_user, params[:id])
        = review.check_permissions_for_destroy_action(current_user, params[:id])